.DS_Store
.env
.flaskenv
*.pyc
*.pyo
flaskenv/
migrations/
.db
env/
venv/
.venv/
/logs
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
